/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
/*tags*/
body {
  margin: 0px auto;
  padding: 0px;
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
  text-align: center;
}

header {
  border-bottom: 1px;
  border-color: #ececec;
  border-style: solid;
  text-align: center;
}

div h1 {
  text-align: center;
}

ul {
  padding: 0;
}

h2 {
  color: #212121;
}

p {
  color: #757575;
}

li {
  list-style: none;
}

button {
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  background-color: transparent;
}

fieldset {
  border-color: transparent;
}

.p-0 {
  padding: 0px 0px;
}

.m-0 {
  margin: 0px 0px;
}

.b-0 {
  border: 0;
}

.btn {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  transform: scale(1.1);
}

/*Body*/
.container {
  margin: 0px auto;
  width: 1200px;
}

.section {
  padding: 94px 0px;
}

/*Modal*/
.location-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: white;
  padding: 10% 0;
  width: 528px;
  height: 581px;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(117, 117, 117);
  text-align: start;
  padding: 0px 40px;
}

.modal-send-form-group {
  font-weight: 400;
  font-size: 12px;
}

.svg-modal {
  position: relative;
  bottom: 25px;
  right: -15px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-form {
  padding: 15px;
}

.input-modal-form {
  width: 448px;
  border-radius: 4px;
  padding: 5px 40px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  padding: 10px;
}

.input-modal-form:hover:hover {
  cursor: pointer;
  border: 2px solid #2196f3;
}
.input-modal-form:hover:focus {
  border: 2px solid #2196f3;
}
.input-modal-form:hover:hover + .svg-modal, .input-modal-form:hover:focus + .svg-modal {
  fill: #2196f3;
}

.label-rel:focus-visible {
  border: 2px solid #2196f3;
}
.label-rel:hover > .svg-modal {
  fill: #2196f3;
}

.checkbox-form {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 5px 10px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icons/iconcheck.svg);
  border-color: #2196f3;
  background-color: #2196f3;
}

.header-modal {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: end;
}

.main-modal {
  width: 100%;
  margin-bottom: 1%;
}

.p-modal {
  padding: 20px;
  margin: 0;
}

.btn-close-modal {
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  top: -3px;
  right: 3px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.btn-close-modal:hover {
  fill: #2196f3;
}

.svg-close-modal {
  background-color: transparent;
  position: relative;
  top: 5px;
  width: 18px;
  height: 18px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}

/*Header*/
.nav-bar,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex--links {
  gap: 20px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-align: right;
  font-style: normal;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo a {
  color: #2196f3;
}

.nav-bar__links--link-current {
  position: relative;
}
.nav-bar__links--link-current::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -33px;
  background-color: #2196f3;
  border-radius: 4px;
}
.nav-bar__links--link-current a {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-bar__links--link-current a:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.nav-bar__links {
  display: flex;
  align-items: start;
  gap: 25%;
}
.nav-bar__links a {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-bar__links a:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}
.nav-bar__links--mobile {
  font-weight: 500;
  font-size: 40px;
}
.nav-bar__links--blue {
  color: #2196f3;
}

.contact-nav--mobile {
  font-weight: 500;
  font-size: 34px;
  text-align: start;
}

.contact-nav--contact {
  gap: 10px;
}
.contact-nav--contact a {
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav--contact:hover .contact-bar--svg-contact {
  cursor: pointer;
  fill: #2196f3;
}
.contact-nav--contact:hover a {
  cursor: pointer;
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.contact-bar--svg-contact {
  fill: #757575;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}

.contact-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*section solution-title*/
.title {
  background-image: linear-gradient(0deg, rgb(2, 0, 36), rgba(5, 5, 87, 0.11)), url("../images/work-group.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.title__list--h1 {
  color: #ffffff;
  width: 650px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.title__list {
  display: flex;
  justify-content: center;
}

.title__list--btn-sol {
  background-color: #2196f3;
  color: #f5f4fa;
  width: 200px;
  padding: 10px;
  font-weight: 700;
  line-height: 30px;
}

/*Section values*/
.values ul {
  box-sizing: content-box;
  text-align: left;
}

.values__solutions {
  display: flex;
  justify-content: space-between;
}

.values__card {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.values-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.values-card__svg {
  text-align: center;
  width: 70px;
  border-radius: 4px;
}

.values-card__container-svg {
  background-color: #f5f4fa;
  text-align: center;
  border-radius: 4px;
}

/*Section services*/
.services__lists {
  display: flex;
  justify-content: space-between;
}

.service-container {
  position: relative;
  overflow: hidden;
  display: flex;
}

.service-container__title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  height: 25%;
  bottom: 0px;
}

/*portfolio.html*/
/*Section card*/
.portfolio__btn-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio__btn-lst {
  padding: 6px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #ececec;
  color: #212121;
}
.portfolio__btn-lst:hover, .portfolio__btn-lst:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px rgba(117, 117, 117, 0.2);
}

.portfolio_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info__image-container {
  position: relative;
  overflow: hidden;
}

.image-container__p-description {
  position: absolute;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.8);
  color: #ffffff;
  margin: 0px;
  padding: 15px;
  top: 100%;
  width: 100%;
  height: 100%;
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  text-align: left;
  margin-bottom: 30px;
}
.card__info:hover {
  cursor: pointer;
  box-shadow: 2px 3px rgba(117, 117, 117, 0.2);
  border-radius: 4px;
}
.card__info:hover .image-container__p-description {
  top: 0px;
}
.card__info h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.info__description-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 370px;
  border: 1px solid #ececec;
  padding: 40px 10px;
}

.transition {
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Section team*/
.team {
  background-color: #f5f4fa;
}

.team__cards {
  display: flex;
  justify-content: space-between;
}

.team-card {
  border: 1px;
  width: 270px;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 2px 3px rgba(117, 117, 117, 0.2);
}

.team-card__name {
  color: var(#212121);
}

.team-card__social-links {
  padding: 10px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card__social-links .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.team-card__social-links .social-link:hover {
  background-color: #2196f3;
  cursor: pointer;
  transform: scale(1.2);
}
.team-card__social-links .social-link:hover > .social-link__svg-icon {
  fill: #ffffff;
}

.social-link__svg-icon {
  fill: #757575;
  width: 20px;
  height: 20px;
}

/*Section Clients*/
.clients__links {
  display: flex;
  gap: 30px;
}

.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  width: 170px;
  border: 1px solid #757575;
  border-radius: 4px;
}
.client-card:hover {
  cursor: pointer;
  border-color: #2196f3;
  transform: scale(1.2);
}
.client-card:hover .client-card__logo {
  fill: #2196f3;
}

.client-card__logo {
  fill: #757575;
  padding: 10px;
  width: 106px;
  height: 52px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Section Footer*/
.address {
  color: #ffffff;
  text-align: left;
  display: flex;
  padding: 60px 0px;
  gap: 45px;
}

.link-info {
  display: flex;
  flex-wrap: wrap;
}

.link-info__address {
  color: #ffffff;
}

.link-info__action {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-info__action:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.address-links {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.address-links:nth-child(n) {
  padding: 0px;
  margin: 0px 0px;
}

.contact {
  background-color: #2f303a;
}

.section--footer {
  padding: 0px 10px;
}

.footer-form__title {
  font-style: initial;
  font-weight: 700;
  margin: 0px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 206px;
}

.title--initial {
  font-style: initial;
}

.icon-footer {
  fill: #ffffff;
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 1%;
}

.subscribe-form__email {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  padding: 15px;
  border-radius: 4px;
}
.subscribe-form__email:hover {
  border: 1px solid #2196f3;
}
.subscribe-form__email:focus {
  border: 1px solid #2196f3;
  color: #ffffff;
}

.subscribe-form__btn {
  width: 200px;
  padding: 10px;
}

.subscribe-form__svg {
  width: 24px;
  height: 24px;
}

/*Menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}

.svg-open-menu {
  width: 25px;
  height: 18px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #2f303a;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  padding-top: 15%;
  list-style: none;
}

.mobile-menu--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__contact {
  flex-direction: column;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

.mobile-menu-info {
  padding-top: 75%;
}

.mobile-menu-social {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.mobile-menu-social li a {
  color: #2196f3;
}

.mobile-menu-social__bar {
  position: relative;
}
.mobile-menu-social__bar::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 300px) {
  .header {
    padding: 6% 6%;
  }
  .title__list--h1 {
    width: 360px;
    font-size: 30px;
  }
  .flex {
    justify-content: space-between;
  }
  .nav-bar,
  .contact-nav {
    display: none;
  }
  .menu-toggle {
    display: inline;
  }
  .right {
    display: flex;
    justify-content: end;
  }
  .container {
    width: 100%;
  }
  .values__solutions {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 100%;
  }
  .values__card {
    width: 93%;
    margin-bottom: 10%;
  }
  .values__card h2 {
    display: flex;
    justify-content: center;
  }
  .services {
    display: none;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-card {
    width: 93%;
    margin-bottom: 10%;
  }
  .team-card__image {
    width: 100%;
  }
  .clients__links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .section--footer {
    padding: 0px;
  }
  .address {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .address-links {
    text-align: center;
    width: 50%;
  }
  .footer-links {
    justify-content: center;
  }
  .link-info {
    flex-direction: column;
  }
  .link-info h2 {
    text-align: center;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .modal {
    width: 95%;
  }
  .input-modal-form {
    width: 360px;
  }
  .portfolio__btn-filter {
    width: 95%;
    flex-wrap: wrap;
  }
  .portfolio_cards {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .nav-bar,
  .contact-nav {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
  .container {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .flex {
    justify-content: space-around;
  }
  .nav-bar__links {
    gap: 10%;
  }
  .flex--links {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .values__solutions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .values__card {
    width: 270px;
  }
  .services {
    display: none;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .team-card {
    margin-bottom: 10%;
    width: 270px;
  }
  .clients__links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio_cards {
    flex-direction: inherit;
    justify-content: space-around;
  }
  .address {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .link-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  .subscribe-form .subscribe-form__btn {
    margin-top: 5%;
  }
  .modal {
    width: 528px;
  }
  .input-modal-form {
    width: 448px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .flex--links {
    flex-direction: row;
    justify-content: space-around;
  }
  .values__solutions {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0%;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0%;
  }
  .address {
    flex-wrap: nowrap;
  }
  .address-links {
    width: 231px;
  }
  .link-info {
    text-align: left;
  }
  .link-info h2 {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */