/*Header*/
.nav-bar,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex--links {
  gap: 20px;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-align: right;
  font-style: normal;
  color: $blue-font-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo {
  a {
    color: $blue-font-color;
  }
}
.nav-bar__links--link-current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -33px;
    background-color: $blue-font-color;
    border-radius: 4px;
  }
  a {
    color: $title-font-color;
    text-decoration: none;
    transition: color $time-animation $cubic-bezier-animation;
    &:hover {
      color: $blue-font-color;
      background-color: transparent;
      text-decoration: none;
    }
  }
}
.nav-bar__links {
  display: flex;
  align-items: start;
  gap: 25%;
  a {
    color: $title-font-color;
    text-decoration: none;
    transition: color $time-animation $cubic-bezier-animation;
    &:hover {
      color: $blue-font-color;
      background-color: transparent;
      text-decoration: none;
    }
  }
  &--mobile {
    font-weight: 500;
    font-size: 40px;
  }
  &--blue {
    color: $blue-font-color;
  }
}
.contact-nav {
  &--mobile {
    font-weight: 500;
    font-size: 34px;
    text-align: start;
  }
}
.contact-nav--contact {
  gap: 10px;
  a {
    color: $desc-font-color;
    text-decoration: none;
    transition: color $time-animation $cubic-bezier-animation;
  }
  &:hover {
    .contact-bar--svg-contact {
      cursor: pointer;
      fill: $blue-font-color;
    }
    a {
      cursor: pointer;
      color: $blue-font-color;
      background-color: transparent;
      text-decoration: none;
    }
  }
}
.contact-bar--svg-contact {
  fill: $desc-font-color;
  width: 20px;
  height: 20px;
  transition: fill $time-animation $cubic-bezier-animation;
}
.nav-bar {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}
.contact-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
