/*Section services*/

.services__lists {
  display: flex;
  justify-content: space-between;
}
.service-container {
  position: relative;
  overflow: hidden;
  display: flex;
}
.service-container__title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $service-color-shadow;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  height: 25%;
  bottom: 0px;
}
