@media screen and (max-width: 1200px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: green;
  }

  .flex--links {
    flex-direction: column;
    gap: 5px;
  }
  .container {
    width: 100%;
  }
  .values__solutions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .services {
    display: none;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .team-card {
    margin-bottom: 10%;
  }
  .clients__links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .address {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-links {
    justify-content: center;
  }
  .link-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    .subscribe-form__btn {
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: yellow;
  }
  .title__list--h1 {
    width: 360px;
    font-size: 30px;
  }
  .header {
    visibility: hidden;
  }
  .container {
    width: 480px;
  }
  .values__card {
    width: 93%;
    margin-bottom: 10%;
    h2 {
      display: flex;
      justify-content: center;
    }
  }
  .services {
    display: none;
  }
  .team-card {
    width: 93%;
    margin-bottom: 10%;
  }
  .team-card__image {
    width: 100%;
  }
  .clients__links {
    align-items: center;
  }
  .section--footer {
    padding: 0px;
  }
  .address {
    text-align: center;
    justify-content: center;
  }
  .address-links {
    text-align: center;
    width: 50%;
  }
  .link-info {
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }
  .title--initial {
  }
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .modal {
    width: 100%;
  }
  .portfolio__btn-filter {
    flex-direction: column;
    align-items: center;
  }
  .portfolio_cards {
    flex-direction: column;
    align-items: center;
  }
}
