@media screen and (min-width: 300px) {
  .header {
    padding: 6% 6%;
  }
  .title__list--h1 {
    width: 360px;
    font-size: 30px;
  }
  .flex {
    justify-content: space-between;
  }
  .nav-bar,
  .contact-nav {
    display: none;
  }
  .menu-toggle {
    display: inline;
  }
  .right {
    display: flex;
    justify-content: end;
  }
  .container {
    width: 100%;
  }
  .values__solutions {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 100%;
  }
  .values__card {
    width: 93%;
    margin-bottom: 10%;
    h2 {
      display: flex;
      justify-content: center;
    }
  }
  .services {
    display: none;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-card {
    width: 93%;
    margin-bottom: 10%;
  }
  .team-card__image {
    width: 100%;
  }
  .clients__links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .section--footer {
    padding: 0px;
  }
  .address {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .address-links {
    text-align: center;
    width: 50%;
  }
  .footer-links {
    justify-content: center;
  }
  .link-info {
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .modal {
    width: 95%;
  }
  .input-modal-form {
    width: 360px;
  }
  .portfolio__btn-filter {
    width: 95%;
    flex-wrap: wrap;
  }
  .portfolio_cards {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .nav-bar,
  .contact-nav {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
  .container {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .flex {
    justify-content: space-around;
  }
  .nav-bar__links {
    gap: 10%;
  }
  .flex--links {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .values__solutions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .values__card {
    width: 270px;
  }
  .services {
    display: none;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .team-card {
    margin-bottom: 10%;
    width: 270px;
  }
  .clients__links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio_cards {
    flex-direction: inherit;
    justify-content: space-around;
  }
  .address {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .link-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    .subscribe-form__btn {
      margin-top: 5%;
    }
  }
  .modal {
    width: 528px;
  }
  .input-modal-form {
    width: 448px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .flex--links {
    flex-direction: row;
    justify-content: space-around;
  }
  .values__solutions {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0%;
  }
  .team__cards {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0%;
  }
  .address {
    flex-wrap: nowrap;
  }
  .address-links {
    width: 231px;
  }
  .link-info {
    text-align: left;
    h2 {
      text-align: left;
    }
  }
  .subscribe-form {
    flex-direction: row;
  }
}
