$nav-bg-color: #ececec;
$desc-font-color: #757575;
$desc-font-color-shadow: rgba(117, 117, 117, 0.2);
$service-color-shadow: rgba(47, 48, 58, 0.8);
$modal-fixed-background: rgba(0, 0, 0, 0.5);
$modal-svg-round-color: rgba(0, 0, 0, 0.1);
$modal-font-color: rgba(117, 117, 117, 1);
$title-font-color: #212121;
$title-font-color-alpha: rgb(33, 33, 33, 0.2);
$team-bg-color: #f5f4fa;
$title-bg-color: #2f303a;
$blue-font-color: #2196f3;
$blue-font-color-alpha: rgba(33, 150, 243, 0.8);
$foot-font-color: rgba(255, 255, 255, 0.7);
$card-portfolio-border: #eeeeee;
$white: #ffffff;
$white-alpha: rgba(255, 255, 255, 0.3);
$white-fnt-alpha: rgba(255, 255, 255, 0.6);

$cubic-bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;
